<div class="container py-4">
    <div class="w-50 m-auto card shadow-lg border-light rounded-4 overflow-hidden">
      <img src="images/error.jpg" alt="Error Image" class="img-fluid w-50 m-auto">
    </div>
  
    <p class="error-message text-center mt-4">Oops! The page you're looking for doesn't exist.</p>
  
    <button type="button" class="btn btn-primary btn-lg w-100 mt-3 animated-btn" routerLink="/Home">
      <i class="fas fa-arrow-right"></i> Go to Home Page
    </button>
    
      
  </div>
  