<div class="footer text-light py-5">
  <div class="container">
    <!-- صف البطاقات -->
    <div class="row m-4">
      <!--  Location -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
      </div>
      <!--  Location / -->
      <!-- AROUND THE WEB -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h3>AROUND THE WEB</h3>
            <div class="icons py-2">
              <i class="fa-brands fa-facebook mx-1 icon"></i>
              <i class="fa-brands fa-twitter mx-1 icon"></i>
              <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
              <i class="fa-solid fa-globe mx-1 icon"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- AROUND THE WEB / -->

      <!-- About Freelancer -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Freelancer /-->


</div>

<div class="copy text-center text-white p-3">
  <p>&copy; nouri Al-drissi Website 2025</p>
</div>