<section class="about text-white d-flex justify-content-center align-items-center py-5 ">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 py-5 text-center">
                <h2 class="fw-bold text-white text-uppercase">{{titlePage}}</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line bg-white me-3 d-flex align-items-center justify-content-center mb-1"></div>
                    <i class="fa-solid fa-star fs-5"></i>
                    <div class="line bg-white ms-3"></div>
                </div>
            </div>

            <div class="col-md-6 ">
                <p class="text lh-lg">
                    {{pTextLeft}}
                </p>
            </div>

            <div class="col-md-6 ">
                <p class="text lh-lg">{{pTextRight}}
                </p>
            </div>
        </div>
    </div>
</section>