<!-- Home section -->
<section class="home">
    <div class="container">

        <!-- information section -->
        <div class="container py-5">
            <div class="row  align-items-center">
                <div
                    class="col-md-12 col-lg-6 mb-sm-4 mb-0 d-flex justify-content-center align-items-center order-md-1 order-lg-2">
                    <img [src]="information.img" alt="My Photo" class="img-fluid w-75 rounded-circle shadow-lg">
                </div>

                <div class="col-md-12 col-lg-6  order-md-2 order-lg-1 ">
                    <h1 class="display-5 text-info-emphasis fw-bold ">{{information.name}}</h1>
                    <p class="lead text-secondary fs-6">{{information.des}}</p>
                    <ul class="list-unstyled">
                        <li class="mb-2"><span class="fw-bold text-primary-emphasis fs-5">Job Title:
                            </span>{{information.list.JobTitle}}</li>
                        <li class="mb-2"><span class="fw-bold text-primary-emphasis fs-5">Skills:
                            </span>{{information.list.Skills}}
                        </li>
                        <li class="mb-2"><span class="fw-bold text-primary-emphasis fs-5">Email:
                            </span>{{information.list.Email}}
                        </li>
                    </ul>
                </div>


            </div>
        </div>
        <!-- information section /-->

        <app-skills></app-skills>
    </div>

</section>
<!-- Home section /-->